body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #e2e1e0;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: #555555;
    z-index: 99;
}

.navbar-container, .navbar-content {
    width: 100%;
    height: 100%;
    margin: 0;
}

.navbar-content {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

.navbar-content a {
    width: 15%;
    font-size: 1.5em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    transition: all 0.5s;
}

.navbar-content a:hover {
    background-color: black;
}

.navbar-content a li {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.navbar-content .navbar-brand {
    display: none;
}
.navbar-content .navbar-brand li {
    color: red;
    /* font-weight: 400; */
}
.navbar-content .navbar-brand:hover {
    background-color: #555555;
    cursor: default;
}

.sticky-navbar {
    position: fixed;
    top: 0;
}

.sticky-navbar + #main-content-container {
    margin-top: 100px;
}

footer p {
    text-align: center;
    font-weight: 300;
}

#main-content-container {
    width: 80%;
    margin: 40px auto;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 20px 5%;
}

.page-header {
    height: 150px;
    display: flex;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.page-header h1, .page-header h2 {
    font-weight: 100;
    margin: 0;
    width: 100%;
    text-align: center;
}
.page-header h1 {
    font-size: 3em;
    color: red;
}
.page-header h2 {
    font-size: 2em;
}

.post-index-overview {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    color: black;
    text-decoration: none;
    transition: all 0.5s;
    padding: 30px 0;
}
.post-index-overview:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: rgb(231, 230, 230);
}
.post-index-overview .title-and-date {
    width: 40%;
    text-align: center;
}
.post-index-overview .title-and-date h3 {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}
.post-index-overview .title-and-date p {
    color: red;
}
.post-index-overview .post-preview {
    width: 60%;
}
.post-index-overview .post-preview p {
    margin-top: 0;
}

.alert {
    display: flex;
    width: 70%;
    justify-content: space-between;
    background-color: lightgray;
    margin: 0 auto;
    border-radius: 5px;
}

.alert-success {
    background-color: lightgreen;
}
.alert-danger {
    background-color: lightcoral;
}

.alert p {
    width: 100%;
    text-align: center;
}

.alert button{
    border-radius: 2em;
    position: absolute;
}

.alert button i{
    font-size: 1.5em;
}

.post-title-input{
    width:100%;
    font-size: 2em;
    text-align: center;
    font-weight: 100;
}

.post-content, .post-created {
    width: 80%;
    margin: 0 auto;
}
.post-content {
    font-size: 1.3em;
}
.post-created {
    text-align: right;
}

.highlight {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 1px 5%;
    overflow-x: scroll;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 75%;
}

