<!doctype html>
<html>
  <head>
    <title>Philip Gonzalez</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicons/favicon.ico') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/blog.css') }}" />
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ url_for('static', filename='css/mobile-blog.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/hilite.css') }}" />
    {% block extra_head %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    {% block extra_scripts %}{% endblock %}
  </head>

  {% block page_header %}
    <div class="page-header">
      <h1>{% block content_title %}{% endblock %}</h1>
      {% if self.content_subtitle() %}<h2>{% block content_subtitle %}{% endblock %}</h2>{% endif %}
    </div>
  {% endblock %}

  <body>
    <div class="navbar" id="navbar" >
      <div class="navbar-container">
        <ul class="navbar-content" id="navbar-content">
          {% if not session.logged_in %}
            <a class="navbar-brand" href="#"><li>P G</li></a>
          {% endif %}
            <a href="{{ url_for('about') }}"><li>about</li></a>
            <a href="{{ url_for('index') }}"><li>blog</li></a>
            <a href="{{ url_for('contact') }}"><li>contact</li></a>
            {% block extra_header %}{% endblock %}
          {% if session.logged_in %}
            <a href="{{ url_for('drafts') }}"><li>Drafts</li></a>
            <a href="{{ url_for('create') }}"><li>Create Post</li></a>
            <a href="{{ url_for('logout') }}"><li>Sign out</li></a>
          {% endif %}
        </ul>
      </div>
    </div>

    <div id="main-content-container">
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} alert-dismissable">
          <p>{{ message }}</p>
        </div>
      {% endfor %}

      {% block content %}{% endblock %}

      <footer>
        <hr />
        <p>Philip Gonzalez &copy; 2019 - {{now.year}}</p>
      </footer>
    </div>
  <script src="{{ url_for('static', filename='js/blog.js') }}"></script>
  </body>
</html>
