{% extends "base.html" %}

{% block extra_head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/switch.css') }}" />
{% endblock extra_head %}
{% block extra_scripts %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<script>
  setTimeout(() => {
    var simplemde = new SimpleMDE({
        element: document.getElementById("content"),
        renderingConfig: {
          codeSyntaxHighlighting: true,
        },
      });
  }, 0)
</script>
{% endblock extra_scripts %}

{% block title %}Create post{% endblock %}

{% block content_title %}Create post{% endblock %}

{% block content %}
  <form action="{% block form_action %}{{ url_for('create') }}{% endblock %}" class="form-horizontal" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <input class="post-title-input" placeholder="Post Title" id="title" name="title" type="text" value="{{ post.title }}">
    </div>
    <br />
    <div class="text-area-container">
      <div class="text-area-inner-container">
        <textarea id="content" name="content">{{ post.content }}</textarea>
      </div>
      {% block image_upload %}{% endblock %}
    </div>
    <br />
    <br />
    <div class="preview-and-publish">
      {% block preview %}{% endblock %}
      <div class="save-and-publish">
        <!-- <label class="publish-label">
          <input class="publish-check" name="published" type="checkbox" value="y"{% if post.published %} checked="checked"{% endif %}>
          <span class="publish-check-text">Publish</span>
        </label> -->
        <div class="switch-container">
          <p>Publish</p>
          <label class="switch">
            <input name="published" type="checkbox" value="y"{% if post.published %} checked="checked"{% endif %}>
            <span class="slider round"></span>
          </label>
        </div>
        <button class="btn btn-primary" type="submit" name="action" value="save">{% block save_button %}Create{% endblock %}</button>
      </div>
      <a href="{{ url_for('index') }}"><button type="button" class="cancel-btn" ><i class="fas fa-ban"></i><br />Cancel</button></a>
    </div>
  </form>
{% endblock %}
