{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block content_title %}{{ post.title }}{% endblock %}

{% block extra_header %}
  {% if session.logged_in %}
    <a href="{{ url_for('edit', slug=post.slug) }}"><li>edit</li></a>
  {% endif %}
{% endblock %}

{% block content %}
  {% if post.slug == 'about' or post.slug == 'contact' %}
  {% else %}
  <div class="post-created">
    <p class="post-created-utc-string">{{ post.created }}</p>
  </div>
  {% endif %}
  <div class="post-content">
    {{ post.html_content }}
  </div>
  {% if preview %}
  <a href="{{ url_for('edit', slug=post.slug) }}"><button class="back-to-edit-btn"><i class="fas fa-arrow-left"></i><br /> Editor</button></a>
  {% endif %}
{% endblock %}
