{% extends "base.html" %}

{% block title %}Blog entries{% endblock %}

{% block content_title %}Blog entries{% endblock %}

{% block content %}
  {% for post in entries %}
    <h3>
      <a href="{% if post.published %}{{ url_for('detail', slug=post.slug) }}{% else %}{{ url_for('edit', slug=post.slug) }}{% endif %}">
        {{ post.title }}
      </a>
    </h3>
    <p>Created {{ post.created.strftime('%m/%d/%Y at %G:%I%p') }}</p>
  {% else %}
    <p>No entries have been created yet.</p>
  {% endfor %}
{% endblock %}
